[Unit]
Description=Overpass Adiff Service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/home/overpass/overpass-adiff.sh
Restart=always